h1 {
    background:#a71919;
    /* Vi kan skriva färger på flera sätt - här är två sätt att sätta samma färg; Hexcodes samt rgb; */
    color: #0ab;
    color: rgb(0, 170, 187);

    /* color:rgba(255,0,0,0.5); */

    font-size:48px;
    text-align:center;
}

h2 {
    background:peachpuff;
}

/* Styla ett element med ett ID */
#first {
    background:blue;
}

/* Styla ett element som har BÅDE big-font och green-heading klasserna */
.big-font.green-heading {
    background:orange;
    font-size:30px;
    text-transform: uppercase;
}

p {
    background:red;
}

/* Varför blir inte elementet med klassen green-heading grön trots att vi skriver det nedan? */
.green-heading {
    background:green;
    color:white;
}

p {
    background:pink;
}

#first-h2 {
    background:blue;
    color:white;
}

/* Alla h2:or inuti en div ska ha svart background och vit text */
div h2 {
    background:black;
    color:white;
}

.container {
    display:flex;
    background:blue;
    padding:25px 25px;
    border:2px red solid;

    /* Följande är två sätt att sätta margin på samma sätt. Kan du korta ner alternativ 1 ytterligare? */
    
    /* Alternativ 1 */
    margin: 100px 50px 100px 50px;

    /* Alternativ 2 */
    /*
        margin-top:100px;
        margin-right:50px;
        margin-bottom:100px;
        margin-left:50px;
     */
}

span {
    height:100000px;
    width:100000px;
    /* Span är ett inline-element dvs har display:inline, så height och width fungerar inte. Testa ändra det till display:block och se vad som händer*/
    display:inline;
    background:yellow;
}