h1 {
    background:#a71919;
    color: #0ab;
    /* opacity: 0,5; */
    /* color:rgba(255,0,0,0.5); */
    font-size:48px;
    text-align:center;
}

h2 {
    background:peachpuff;
}

.green-heading {
    background:green;
    color:white;
    display:inline
}

#first-h2 {
    background:blue;
    color:white;
}

div h2 {
    background:black;
    color:white;
}

.container {
    display:flex;
    background:blue;
    margin: 100px;
    padding:25px 25px;
    border:2px red solid;

    height:200px;
    width:200px;
    /* margin-top:100px;
    margin-left:50px;
    margin-bottom:50px;
    margin-right:200px; */
}

span {
    height:100px;
    width:100px;
    display:inline;
    background:yellow;
}