h1 {
    background:#a71919;
    color: #0ab;
    /* opacity: 0,5; */
    /* color:rgba(255,0,0,0.5); */
    font-size:48px;
    text-align:center;
}

h2 {
    background:peachpuff;
}

.green-heading {
    background:green;
    color:white;
}

#first-h2 {
    background:blue;
    color:white;
}

div h2 {
    background:black;
    color:white;
}